{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block style%}
<style>
.bg1{
     background-image:url( static/images/f1.jpg ); 
     background-size: 100% 100%;
    
}
.bg{
        background-image: url("/static/images/handpen.jpg");
        background-repeat: no-repeat; background-size: cover;
    }
</style>
{% endblock %}
{% block dashboard%}

<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6" style="padding: 30px;">
             <h1>Add Course</h1>
             <!-- <p class="o">Home &gt;&gt; User &gt;&gt; My Course</p> -->
            </div>
            </div>
         </div>

<div class="container bg1">
    <div class="row ">
        <div class="col-md-6 mx-auto shadow shadow-lg my-4">
            <h1 class="text-white">Add Course</h1>
            <!-- {{form.as_p}} -->
            <!-- <table>
            {{form.as_table}}
        </table> -->
        <form action="" method="post" enctype="multipart/form-data" class="text-light" >
            {% csrf_token %}
            <!-- {{form}} -->
            {% bootstrap_form form%}
            <input type="submit" value="Add Course" class="btn btn-success mb-3">
        </form>
        </div>
    </div>
</div>
{% if status%}
  <script>
      alert("{{status}}");
      window.location = "my_courses/"
  </script>
{% endif %}
{% endblock %}