{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'images/handpen.jpg' %}"); background-size: cover;
    }
    .inside{
        position: absolute;width: 70%;height: 30%;
    }
    .out{
        position: relative;margin-left: 65%;margin-top: 2.5px;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }
    .h:hover{
        color: green;
    }
    .hover:hover{
        box-shadow: 0px 0px 10px orange;
    
    }
</style>
{% endblock %}
{% block header %}

<form action="" >
<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-5 px-5">
             <!-- <p>Home &gt;&gt; Courses &gt;&gt; All Courses</p>  -->
            {% if abcd %}
            <h1>Total ({{courses|length}}) course Found</h1>
            {% else%}
            <h1 class="mt-4">All courses ({{courses|length}})</h1>
            {% endif%}
            </div>
          
        <div class="col-md-3 px-5 float-right" style="padding: 50px;">
            <input type="text" name="qry" placeholder="Search by course name" class="form-control inside" >
            <!-- <button type="submit" class="btn btn-warning out">Search </button> -->
        </div>

        <div class="col-md-4 px-5" style="padding: 50px;">
            <input type="text" name="price" placeholder="Search by price less than" class="form-control inside" >
            <button type="submit"  class="btn btn-primary out mb-2" style="height: 40px; width: 90px;">Search &gt;</button>
        </div>

    </div>
</div>
</form>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 my-5">
            <div>
                <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>SELECT CATEGORY</option>
                    <option></option>
                    <option>Web Development</option>
                    <option>Artificial Intelligence</option>
                    <option>Data Science</option>
                    <option>App Development</option>
                    <option>Machine Learning</option>
                    <option>Python</option>
                </select>
                <select class="form-control" style="display: inline-block; width: 35%;">
                <option>FILTERS</option>
                <option>BEST SELLING</option>
                <option>TRENDING</option>
                <option>NEWEST</option>
                <option>TOP RATED</option>
                <option>HIGH PRICE</option>
                <option>LOW PRICE</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 my-5 mx-auto">
            <div>
                <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>ITEM PER PAGE</option>
                    <option>4</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                    <option>20</option>
                    <option>24</option>
                    </select>
                   <div class="form-control h" style="display: inline-block; width: 25%;">
                    <i class="fas fa-th-large text-success"></i> <i class="fas fa-bars text-success"></i>
                    </div>
                   
            </div>
        </div>
    </div>
</div>
      <div class="container-fluid bg1">
      <div class="row">
          {% for i in courses %}
        <div class="col-md-4 my-5 ">
            <div class="card-header hover">
                <img src="/media/{{i.course_image}}" class="card-img" alt="" style="height: 300px;">
            </div>
            <div class="card-body" style="background: white;">
                
            <a href="{% url 'singlecourse' %}?cid={{i.id}}"><h3 class="card-title ml-1" style="color:steelblue;">{{i.course_name}}</h3></a>
            <p class="card-text" ><i class="far fa-user"></i> {{i.instructor.first_name}} {{i.instructor.last_name}}</p>
            <p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
            
            <form action="{% url 'cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{i.id}}" name="cid">
                <input type="hidden" value="1" name="qty">
                <button type="submit" class=" btn btn-warning text-white">
                    <i class="fa fa-shopping-cart text-white"></i>
                    Add To Cart
                </button>
            </form>

        </div>
            <div class="card-footer" style="background:white">
                <span style="color:green; float:right;">${{i.sale_price}} </span>
                <span style="color:green; float:right;"><del> ${{i.course_price}}</del></span>
                
                <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                <p> <i class="far fa-clock"></i> 27.5 hours</p>
                
            </div>
        </div>
        {% endfor %}
        <!-- <div class="col-md-4 my-5">
            <div class="card-header">
                <img src="{% static 'images/s2.jpg' %}" class="card-img" alt="" style="height: 300px;">
            </div>
            <div class="card-body" style="background: white;">
<h3 class="card-title">Lets Design The Pages</h3>
<p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>

            </div>
            <div class="card-footer" style="background: white;">
                <h2 style="color:green; float:right;">$10</h2>
                <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                <p><i class="far fa-clock"></i> 27.5 hours</p>
                
            </div>
            </div>
            <div class="col-md-4 my-5">
                <div class="card-header">
                    <img src="{% static 'images/sc.jpg'%}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body " style="background: white; height: 175px;">
<h3 class="card-title">Design The Page By Writing</h3>
<p class="card-text"> <i class="far fa-user"></i> Anthony Broks</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
</div>
                <div class="card-footer" style="background: white;">
                    <h2 style="color:green; float:right;">$375</h2>
                    <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    
                </div>
                </div>
    </div>
    <div class="row">
    <div class="col-md-4 my-5">
        <div class="card-header">
            <img src="{% static 'images/s3.jpg' %}" class="card-img" alt="" style="height: 300px;">
        </div>
        <div class="card-body" style="background: white;">
<h3 class="card-title">Layout The Design</h3>
<p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
</div>
        <div class="card-footer" style="background: white;">
            <h2 style="color:green; float:right;">$180</h2>
            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
            <p> <i class="far fa-clock"></i> 27.5 hours</p>
</div>
</div>
<div class="col-md-4 my-5">
    <div class="card-header">
        <img src="{% static 'images/j.jpg' %}" class="card-img" alt="" style="height: 300px;">
    </div>
    <div class="card-body" style="background: white;">
<h3 class="card-title">Enhance HTML Pages</h3>
<p class="card-text"> <i class="far fa-user"></i> Harry Poter</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
 </div>
    <div class="card-footer" style="background:white">
        <h2 style="color:green; float:right;">$249</h2>
        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
        <p> <i class="far fa-clock"></i> 27.5 hours</p>
</div>
</div>
<div class="col-md-4 my-5">
    <div class="card-header">
        <img src="{% static 'images/c.jpg' %}" class="card-img" alt="" style="height: 300px;">
    </div>
    <div class="card-body" style="background: white;">
<h3 class="card-title">A High Level Language</h3>
<p class="card-text"> <i class="far fa-user"></i> Jonathan Deo</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
  </div>
    <div class="card-footer" style="background: white;">
        <h2 style="color:green; float:right;">Free</h2>
        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
        <p> <i class="far fa-clock"></i> 27.5 hours</p>
 </div>
 </div>
 </div>
 <div class="row">
     <div class="col-md-12 text-center mb-5">
        <button  class="btn btn-outline-success"><</button> <button  class="btn btn-outline-success">1</button> <button  class="btn btn-outline-success">2</button> <button  class="btn btn-outline-success">3</button> <button  class="btn btn-outline-success">4</button> <button  class="btn btn-outline-success">...</button> <button  class="btn btn-outline-success">32</button> <button  class="btn btn-outline-success">&gt;</button>
     </div>
 </div> -->
    
 </div>
</div>
{% endblock %}