<!DOCTYPE html>
{%load static%}
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'font icon/css/all.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
 
<head>
 <style>
        body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
        
      }
      a{
          color:gray;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
     /* ul{
          position:sticky;
          top:0; 
         }  */
    
         h5{
            border-bottom:3px solid #4caf50; width: 100px;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .footer{
         background-color: rgba(0, 0, 0, 1);
            color:white;
            height:100px;
            Width:100%;
            line-height:100px;
        }
        
        .abc{
            padding: 6px; border:none;width: 60%;
        }
        .z{
            position: relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0; width:40%;
            color:white; padding: 6px; border:none; float:right;
           
        } 
        .fb{
            padding:10px; margin-top: 30px;
            border-radius: 50%; color:white;
            background-color:rgb(91, 20, 158);
        }
        .vi{
            padding:10px; margin-top: 30px;
            border-radius: 50%; color:white;
            background-color:red;
        }
        .pi{
            padding:10px; margin-top: 30px;
            border-radius: 50%; color:white;
            background-color:blue;
        }
        .ln{
            padding:10px; margin-top: 30px;
            border-radius: 50%; color:white;
            background-color:skyblue;
        }
      
        i{
            padding:5px; font-size:20px ;
            color:darkgrey;
        }
        
          .page{
              word-spacing: 10px;
          }
          .log:hover{
              /* background-color: white; */
              color:black
          }
    
    </style>
{%block style%}
{%endblock%}
</head>
<body>
   <div class="container-fluid">
       <div class="row header bg-dark">
       <div class="col-sm-5">
       <nav>
        <i class="far fa-envelope text-white"></i>
           <a href="" class="text-white">support@pioneerpython.com</a>
           <i class="fas fa-headphones text-white"></i>
           <a href="" class="text-white">+8356896453</a>
       </nav>
       </div>
        <div class="col-sm-3">
           <i class="fab fa-facebook-f text-white"></i>
           <i class="fab fa-vimeo-v text-white"></i>
           <i class="fab fa-linkedin-in text-white"></i>
           <i class="fab fa-pinterest text-white"></i>
                                       
       </div>
        <div class="col-sm-4 page">
            {% if user.is_authenticated %}
            <a href="{% url 'insprofile' %}" class="text-white">Welcome {{user.username}}</a>
           <a href="{% url 'user_logout'%}" class="btn text-white"><i class="fas fa-sign-out-alt text-white"></i>Logout</a>
            
            {% else %}
           <a href="{% url 'register'%}" class="btn text-white"><i class="fas fa-folder-plus text-white"></i>Register</a>
           <a href="{% url 'user_login'%}" class="btn text-white"><i class="fas fa-power-off  text-white"></i>Login</a>
           {% endif%}
          
        </div>
   </div>
</div>
   <div class="container-fluid "> 
    <div class="row">
        <div class="col-md-12 px-0" >
           <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a href="#" class="navbar-brand">
       <img src="{%static 'images/ploggo.jpg'%}" style="background: rgba(255, 255, 255, 0.9);">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon bg-success"><i class="fas fa-bars text-white"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <div class="navbar-nav mx-auto"> -->
            <ul class="navbar-nav mx-auto fix">
                <li class="nav-item">
                    <a href="{% url 'homepage'%}" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{%url 'about'%}" class="nav-link active">About</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cont'%}" class=" nav-link active">Contact Us</a>
                 </li>
                 <li class="nav-item">
                    <a href="{%url 'allcourses'%}" class=" nav-link active">All Courses</a>
                </li>
                <li class="nav-item">
                    <a href="{%url 'cart'%}" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="search.html" class="nav-link"><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
            </ul>
        
    </div>
</nav>
   </div>
    </div>
   </div> 
 {%block header%}
 
 {%endblock%}
         <div class="container-fluid text-muted " style="background:rgba(0, 0, 0, 0.9);">
     <div class="row p-5">
         <div class="col-md-3 px-0">
             <h5 style="width: 150px;"><em>Pioneer Python</em></h5>
             <!-- <img src="{%static 'images/ploggo.jpg'%}"> -->
             <p class="text-justify text-white">
                 The pain you feel toay is the strength you will feel tomorrow. For every
                 challenge encountered there is opportunity for you.
             </p>
                <div class="icon">
                  <i class="fab fa-facebook-f fb"></i>
                  <i class="fab fa-vimeo-v vi"></i>
                  <i class="fab fa-twitter ln"></i>
                  <i class="fab fa-pinterest pi"></i>                           
        
                </div>  
                </div>
           <div class="col-md-3">
               <h5 ><em>Contact Us</em></h5>
                  <a href="" class="text-white"><i class="fas fa-headphones text-white"></i>800 579.987.579</a><br/>
                   <a href="" class="text-white"><i class="far fa-envelope text-white"></i>support@pioneerpython.com</a >
                  <p class="text-white"><i class="fas fa-map-marker-alt text-white"></i>184 Main Collins Street<br/>Chicago,United States</p>                        
           </div>
             <div class="col-md-3">
                 <h5><em>Quick links</em></h5>
                 <p><a href="{% url 'homepage'%}" class="text-white">Home</a></p>
                 <p><a href="{%url 'about'%}" class="text-white">About </a></p>
                 <p><a href="{% url 'cont'%}" class="text-white">Contact Us</a></p>
                 <p><a href="{%url 'allcourses'%}" class="text-white">All Courses</a></p>
                 <!-- <p><a href="" class="text-white">Single Course</a></p> -->
             </div>
               <div class="col-md-3">
                    <h5><em>Newslatter</em></h5>
                    <p class="text-white">Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form>
                    <input type="text" placeholder="Enter your email" class="abc">
                    <button class="z">Subscribe</button>
                   
                </form> 
                </div>
               </div>
            </div>
        <!-- </div> -->
        <div class="container-fluid footer">
            <div class="col-md-12 align-center">
                <div class="footer text-center">& copyright 2020 .All rights reserved</div>
            </div>
        </div>
               
 
</body>
</html>
