{% extends "base.html" %}
{% load static%}
{% block style1%}

{% endblock%}
{% block header %}

{% if user.is_superuser %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="jumbotron">
                    <h1>Sorry Mr./Miss. {{user.username}} You are not allowed Here</h1>
                </div>
            </div>
        </div>
    </div>
{% else %}
{% if user.is_authenticated %}
<div class="container-fluid mt-1">
    <div class="row ">
        <!--left-menu-->
        <div class="col-md-2 py-5" style="background-color:black">
            <div class="ml-3"> 
                {% if data.profile_pic%}
                <img src="/media/{{data.profile_pic}}"alt="not found" style="height: 80px; width: 80px; border-radius: 50%;"> <br/>
                {% else %}
                <img src="{% static 'images/user.png'%}"alt="not found" style="height: 80px; width: 80px; border-radius: 50%;"> <br/>

                {% endif %}
               </div>
         <nav class="navbar navbar-dark sticky-top">
             <a href="" class="navbar-brand">My Profile
                 <p>{{user.username}}</p>
             </a>
             <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nv">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="nv">
             <ul class="navbar-nav">
                
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'insprofile' %}" class="nav-link text-white"><i class="fas fa-user-tie text-white"></i> Instructor Profile</a>
                </li> 
                
                <li class="nav-item">
                    <a href="{% url 'my_courses' %}" class="nav- text-white"><i class="fas fa-book text-white"></i> My Course</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'add_course_view'%}" class="nav-link text-white"><i class="fas fa-plus-circle text-white"></i> Add Course</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'my_student' %}" class="nav- text-white"><i class="fas fa-user text-white"></i>  My Students</a>
                </li>
               
                <li class="nav-item">
                    <a href="{% url 'sendemail'%}" class="nav-link text-white"><i class="far fa-envelope text-white"></i> Send Email</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a href="{% url 'stuprofile'%}" class="nav-link text-white"><i class="fas fa-user text-white"></i> Student's Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'order_history'%}" class="nav-link text-white"><i class="fas fa-folder-plus text-white"></i> Order History</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cart'%}" class="nav-link text-white"><i class="fa fa-shopping-cart text-white" aria-hidden="true" ></i>My Cart</a>
                </li>
                {% endif %}
                
                <li class="nav-item">
                    <a href="{% url 'view_profile'%}" class="nav-link text-white"><i class="far fa-address-card text-white"></i> View Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'editpro'%}" class="nav-link text-white"><i class="fas fa-user-edit text-white"></i> Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'reset'%}" class="nav-link text-white"><i class="fas fa-lock text-white"></i> Change Password</a>
                </li>
                
             </ul>
            </div>
         </nav>
        </div>
        {% endif %}
        <!-- right-menu -->
        <div class="col-md-10 px-0">
           
              {% block dashboard%}

              {% endblock %}
        </div>
    </div>
</div>


{% endif %}
{% endblock %}