{% extends "dashboard_base.html"%}
{% load static %}
{% block style %}
{% endblock %}

{% block dashboard %}
<div class="container-fluid ">
    <div class="row" >
        <div class="col-md-6 mx-auto p-4 mt-5">
            <div class="card shadow ">
                <div class="card-header">
                  <h2 class="text-danger">Are You Sure Want to delete</h2>
                </div>
                <div class="card-body">
                    <img src="/media/{{courses.course_image}}" height="200" width="100%" alt="No img">
                    <h4 style="color:rebeccapurple"><em>{{courses.course_name}}</h4></em>
                   <div class="float-right">
                    <a href="{% url 'delete_course' %}?cid={{courses.id}}&&action=confirm" class="btn btn-danger ">Confirm Delete</a>
                    <a href="{% url 'my_courses' %}" class="btn btn-warning text-white">Cancle</a>
 
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
  <script>
      alert("{{status}}");
      window.location = "/my_courses/"
  </script>
{% endif %}
{% endblock %}