{% extends "instructor_base.html" %}
{% block instructor%}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto py-2">
            <div class="card">
                <div class="card-header">
                    <h1>My Detail</h1>
                </div>
                <div class=card-body>
                    <table class="table table-borderd">
                       <tbody>
                           <tr>
                               <th>User ID</th>
                               <td>{{user.id}}</td>
                           </tr>
                           <tr>
                            <th>User Name</th>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <th>Full Name</th>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                        </tr>
                        <tr>
                            <th>Last Login</th>
                            <td>{{user.last_login}}</td>
                        </tr>
                        <tr>
                            <th>Join Date</th>
                            <td>{{user.date_joined}}</td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock%}
