{% extends "dashboard_base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background-image: url("/static/images/handpen.jpg"); 
        background-size: cover;background-repeat: no-repeat;
    }
    .jass:hover{
       box-shadow: 0px 0px 10px black; padding: 10px;
    }
</style>

{% endblock %}
{% block dashboard %}
<div class="container bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-12 text-center" style="padding: 20px;">
            <h1>My Students ({{instructors|length}})</h1>
            <!-- <h3>TOTAL ORDERS : {{times}}</h3> -->
            </div>
            </div>
         </div>

<div class="container mt-2">
    <div class="row">
         {% for i in instructors %} 
        <div class="col-md-4 p-2">
            <div class="card my-3 jass">
                <div class="card-header">
                    {% if i.profile_pic %}
                    <img src="/media/{{i.profile_pic}}" style="height: 200px; width: 100%;">
                    {% else %}
                    <img src="{% static 'images/user.png' %}" style="height: 200px; width: 100%;">
                    {% endif %}
                </div>
                 <div class="card-body">
                    <h4>{{i.first_name}} {{i.last_name}} <small class="badge badge-success">{{i.count}}</small></h4>
                    <p><i class="fa fa-user text-dark"></i>Username: {{i.username}} </p>
                    <p><em> EMAIL :  {{i.email}}</em></p>
                    <p><ins> PHONE NUMBER : {{i.contact}}</ins></p>
                </div> 
                <div class="card-footer">
                    <strong style="float: right;">Member Since : {{i.join}}</strong>
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}