{% extends "dashboard_base.html" %}
{% load static %}
{% block style %}
<style>
     .bg{
        background-image: url("/static/images/handpen.jpg");
        background-repeat: no-repeat; background-size: cover;
    }
    /* .pik{
        background-image: url("/static/images/dw.jpg");
        background-repeat: no-repeat; background-size: cover;
        
    } */
    </style>
{% endblock %}
{% block dashboard %}

<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6" style="padding: 30px;">
             <h1>My Course ({{courses|length}})</h1>
             <!-- <p class="o">Home &gt;&gt; User &gt;&gt; My Course</p> -->
            </div>
            </div>
         </div>

         {% if courses|length == 0 %}
         <div class="container">
           <div class="row">
            <div class="col-md-10 mx-auto p-5 text-center bg-" style="margin-top: 140px;">
              <h1 class="text-danger"> Opps!!!You are not Added any Course</h1>
            </div>
           </div>
         </div>
      {% else %}

<div class="container-fluid ">
    <div class="row pik">
        <div class="col-md-6 my-4 mx-auto  shadow shadow-lg">
            <!-- {{courses}} -->
            <!-- <h2 class="alert alert-primary text-white">Dashboard &gt; My Courses ({{courses|length}})</h2> -->
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                    <th>Course ID</th>
                    <th>Course Image</th>
                    <th>Course Action</th>
                </tr>
                    <!-- <th>Course Name</th>
                    <th>Instructor Name</th> -->
                    
                    
                </thead>
                <tbody>
                    {% for c in courses %}
                      <tr>
                        <td>{{c.id}}</td>
                        <td><img src="/media/{{c.course_image}}" style="height: 100px;width:100px;"</td>
                        <!-- <td>{{c.course_name}}</td>
                        <td>{{c.instructor.first_name}} {{c.instructor.last_name}}</td> -->
                        <td>
                             <!-- <button class="btn btn-success" data-toggle="modal" data-target="#m{{c.id}}"> --> 
                            <i class="fas fa-eye text-success" data-toggle="modal" data-target="#m{{c.id}}"></i>
                                 <!-- View</button> -->
                             <!-- <button class="btn btn-primary"></button> -->
                             <a href="{% url 'update_course' %}?cid={{c.id}}" ><i class="fas fa-edit text-primary"></i></a>
                             <!-- Edit</button> -->
                             <!-- <button class="btn btn-danger"><i class="fas fa-trash text-white"></i>Delete</button> -->
                             <a href="{% url 'delete_course' %}?cid={{c.id}}"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                     </tr>
                     <div class="modal" id="m{{c.id}}">
                         <div class="modal-dialog">
                         <div class="modal-content">
                            <div class="modal-header alert alert-primary">
                                <h4>Course Details</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                             </div>
                             <div class="modal-body">
                                 <img src="/media/{{c.course_image}}" alt="" height="200px";width="100%" class="card-img ">
                                 <h2><a href="{% url 'singlecourse' %}?cid={{c.id}}" class="text-info">{{c.course_name}}</a></h2>
                                 <p>({{c.course_category.cat_name}})</p>
                                 <p style="font-size:30px">
                                     <del>&#8377; {{c.course_price}}</del>
                                     <strong>&#8377; {{c.sale_price}}</strong>
                                 </p>
                                 <p>{{c.course_details}}</p>
                                </div>
                             <div class="modal-footer">
                                <p class="float-left">{{c.course_category.added_on}}</p>
                                <a href="{% url 'singlecourse' %}?cid={{c.id}}" class="btn btn-outline-warning ">View Details</a>
                             </div>
                         </div>
                         </div>
                     </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}