{% extends "dashboard_base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background-image: url("/static/images/handpen.jpg"); 
        background-size: cover;background-repeat: no-repeat;
        
    }
    
</style>
{% endblock%}
{% block dashboard %}

<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-12" style="padding: 30px;">
             <h1>Order History</h1>
             <!-- <p>Home &gt;&gt; User &gt;&gt; Order History</p> -->
            </div>
            </div>
         </div>

         <div class="container-fluid">
             <div class="row">
                 <div class="col-md-8 mx-auto">
                     {% for i in order_history %}
                          <div class="card my-3 shadow">
                              <div class="card-header">
                                <strong class="float-left">Order Id: {{i.order_id}}</strong>
                                <em class="float-right">Processed ON: {{i.date}}</em>
                              </div>
                              <div class="card-body">
                                  {% for j in i.courses %}
                                    <div>
                                        <img src="/media/{{j.course_image}}"  width="100%" height="150" alt="No Image">
                                    </div>
                                    <div class="text-center my-2">
                                        <strong> INVOICE ID :<em> {{i.invoice}}</em></strong>
                                        </div>
                                     <div class="text-center my-2">
                                     <h4> COURSE NAME : {{j.course_name}}</h4>
                                     </div>
                                     <div class="text-center my-2">
                                        <h6>COURSE PRICE : ${{j.sale_price}}</h6>
                                        </div>
                                       <div class="text-center px-5">
                                        <a href="{% url 'singlecourse' %}?cid={{j.id}}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-eye text-white"></i>view</a>
                                       </div>
                                  {% endfor %}
                              </div>
                              <div class="card-footer">    
                                    <div class="col-md-3 float-left">
                                        <strong>STATUS</strong>
                                    </div>
                                    <div class="col-md-3 float-right">
                                        {% if i.status %}
                                                 <button class="btn btn-success">successful</button>
                                              {% else %}
                                              <button class="btn btn-danger"> pending</button>
                                              {% endif %}
                                    </div>
                                   
                              </div>
                          </div>
                     {% endfor %}
                 </div>
             </div>
         </div>
{% endblock%}