{%extends "base.html"%}
{%load static%}
{% block style%}
  <style>
    .bg{
        background: url("{% static 'images/handpen.jpg' %}"); background-size: cover;
        background-repeat: no-repeat;
    }
  </style>
{% endblock%}
{%block header%}
<!-- <div class="py-5 bg-dark ">
    <div class="container">
     <div class="row align-items-left">
       <div class="col-md-6 text-white">
         <h2>About</h2>
       </div>
       <div class="col-md-6">
        <ol class="breadcrumb justify-content-md-end bg-transparent">  
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li> 
          <li class="breadcrumb-item">
            <a href="#"> Elements</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#"> About us</a>
          </li>
        </ol>
       </div>
     </div>
    </div> 
  </div> -->

  <div class="container-fluid bg mt-1">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-4" style="padding: 30px;">
             <h1>About Us</h1>
             <!-- <p>Home &gt;&gt; Pages &gt;&gt;  My Profile</p> -->
            </div>
            </div>
         </div>


   <section class="padding-y-100 border-bottom mt-5">
    <div class="container">
    <div class="row align-items-center">

        <div class="col-lg-5 mb-4 mr-auto text-center">
            <img class="bb.jpg" src="{%static 'images/s3.jpg'%}" alt="" width="100%";height="100%">
        </div> 

        <div class="col-lg-6">
            <h2>
                <span class="text-success">Who</span> We Are
            </h2>
            <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
            <p class="mb-5">
              We are developing websites which are responsive to every type of devices. we also developing the wedsites application as per the requirements of the user. we softwarewe very easy to use and Modern technology is used any age group persone use our sites becuse these are easy to learing , easy to understaning.
            </p>
            <ul>
                <li>
                    Professional and easy to use software
                </li>
                <li>
                    Setup and installations takes 30 seconds
                </li>
                <li>
                    Perfect for any device with pixel perfect design
                </li>
                <li>
                    Setup and installations really really fast
                </li>
              </ul>
        </div> <!-- END col-lg-6 ml-auto-->
    </div> <!-- END row-->
    </div> <!-- END container-->
   </section>
    <section class="padding-y-100">
    <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2>
          <span class="text-success"> What</span> We offer
        </h2>
        <div class="width-4rem height-4 bg-success rounded mt-4 marginBottom-60"></div>
        <p class="mb-5">
          Python is a fully object oriented language! So we offer a complete online course into the 
          details of OOP.        </p>
        <div class="media mb-4">
          <i class="fas fa-user text-success  fa-2x mt-2"></i>
          <div class="media-body pl-3">
            <h4 class="h5">Work With Any Team</h4>
            <p>
              The successful candidate will work directly with clients to ensure deliverables fall within the applicable scope and budget. He or she will coordinate with other departments to ensure all aspects of each project are compatible and will hire new talent as needed to fulfill client needs.  
           </p>
          </div>
        </div>
        <div class="media mb-4">
          <i class="fas fa-cloud text-success fa-2x mt-2"></i>
          <div class="media-body pl-3">
            <h4 class="h5">A Productivity Platform</h4>
            <p>
              Productivity tools, platforms and apps have already transformed our private lives: The touch of a button locks doors and smart assistants order our groceries. But recently, developers have recognized that our need for personalized and frictionless experiences extends into the workplace. 
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-6 ml-auto-->
      <div class="col-lg-5 mb-4 mr-auto text-center">
        <img class="wow fadeInRight w-100 rounded" src="{%static 'images/4.jpg'%}" alt="" height="100%";width="100%">
      </div> 
    </div> <!-- END row-->
    </div> <!-- END container-->
   </section>
   
   <section class="padding-y-100 bg-light">
      <div class="container p-5 py-5 mx-auto">
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <h2>
             Unique Features
            </h2>
            <div class="width-4rem height-4 bg-success rounded mt-4 marginBottom-40p mx-auto"></div>
          </div>
          <div class="col-lg-4 col-md-6 mt-1 py-5 ">
           <div class="card height-100p text-center p-5 shadow shadow-lg">
            <span class=" bg-success mx-auto " style="border-radius: 50%;padding: 10px;">
               <i class="fas fa-infinity  fa-2x" style="color: white;"></i>
             </span>
              <h4 class="my-4">
                Excellent Features
              </h4>
              <p>
                Python supports both procedure-oriented and object-oriented programming which is one of
                the key python features. It also supports multiple inheritances, unlike Java. 
                   </p>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-1 py-5 ">
           <div class="card height-100p text-center p-5 shadow shadow-lg">
            <span class=" bg-success mx-auto " style="border-radius: 50%;padding: 10px;">   
            <i class="fas fa-cloud fa-2x" style="color: white;"></i>
             </span>
              <h4 class="my-4">
                Creative Ideas
              </h4>
              <p>
                Understand programming concepts better: You will learn to write code better and understand concepts such as design patterns and object-oriented programming.
              </p>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-1 py-5 ">
           <div class="card height-100p text-center p-5 shadow shadow-lg">
            <span class=" bg-success mx-auto " style="border-radius: 50%;padding: 10px;">
               <i class="fas fa-globe  fa-2x" style="color: white;"></i>
             </span>
              <h4 class="my-4">
                Clean Code
              </h4>
              <p>
                We will discuss some general code cleaning guidelines that aren't exclusively applicable to Python, including naming conventions and programming ...
              </p>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-1 py-5 ">
           <div class="card height-100p text-center p-5 shadow shadow-lg">
            <span class=" bg-success mx-auto " style="border-radius: 50%;padding: 10px;">
               <i class="far fa-bell  fa-2x" style="color: white;"></i>
             </span>
              <h4 class="my-4">
                Fully Responsive

              </h4>
              <p>
                Responsive web design makes your web page look good on all devices like laptop,mobile phones etc.reviewed to avoid errors, but we cannot warrant full correctness of all content.
              </p>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-1 py-5 ">
           <div class="card height-90p text-center p-5 shadow shadow-lg">
            <span class=" bg-success mx-auto " style="border-radius: 50%;padding: 10px;">
               <i class="fas fa-shopping-bag  fa-2x" style="color: white;"></i>
             </span>
              <h4 class="my-4">
                Modern Design
              </h4>
              <p>
                This website providing Modern design to user.These changes their font style automticaly in your system that gives the modern style look to the website.
           </p>
           </div>
          </div>
         
          <div class="col-lg-4 col-md-6 mt-1 py-5 ">
            <div class="card height-90p text-center p-5 shadow shadow-lg">
             <span class=" bg-success mx-auto " style="border-radius: 50%;padding: 10px;">
                <i class="fas fa-shopping-bag  fa-2x" style="color: white;"></i>
              </span>
               <h4 class="my-4">
                 Documentation
               </h4>
               <p>
                 <!-- This website providing Modern design to user.These changes their font style automticaly in your system that gives the modern style look to the website.
             -->
             The Python interpreter and the extensive standard libraries are freely available on the site
             that comprehensive and helps to users.On the internet we can get  python documentaion easily.
        
                </p>
            </div>
           </div>
        </div> <!-- END row-->
      </div> <!-- END container-->
   </section>
 <section class="padding-y-100 wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h2>
         The Executive Team
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
      </div>

      <div class="col-lg-6 mt-2 wow fadeInUp">
        <div class="row">
          <div class="col-md-6 my-2">
            <img src="{%static 'images/1.jpg'%}" alt="">
          </div>
          <div class="col-md-6 my-4">
            <h4 class="mb-0">
                Natalie Paisley
            </h4>
            <p class="text-muted mb-0">
                Founder &amp; CEO
            </p>
            <p class="my-4">
              He grew up in Australia and during his career he has lived and worked across North America, Europe and Asia.
            </p> <ul class="list-inline">
                
         <li class="list-inline-item">
       <i class="fab fa-facebook-f fa-2x" style="background-color:royalblue;border-radius: 50%;color:white;padding:10px"></i>
          </li>
                <li class="list-inline-item">
                    <i class="fab fa-twitter fa-2x" style="background-color: lightskyblue;border-radius: 50%;color:white;padding:10px"></i>
                </li>
                <li class="list-inline-item">
                   <i class="fab fa-google fa-2x" style="background-color: red;border-radius: 50%;color:white;padding:10px"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-linkedin-in fa-2x" style="background-color:navy;border-radius: 50%;color:white;padding:10px"></i>
                </li>
            </ul>           
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-2 wow fadeInUp">
        <div class="row">
          <div class="col-md-6 my-2">
            <img src="{%static 'images/2.jpg'%}" alt="">
          </div>
          <div class="col-md-6 my-4">
            <h4 class="mb-0">
                Anthony Brooks
            </h4>
            <p class="text-muted mb-0">
                Senior Developer
            </p>
            <p class="my-4">
              Anthony graduate of Harvard College and the Harvard Law School, which won the Silver Gavel Award from the American Bar Association
           </p>
            <ul class="list-inline">
                
                <li class="list-inline-item">
                    <i class="fab fa-facebook-f fa-2x" style="background-color:royalblue;border-radius: 50%;color:white;padding:10px"></i>
                       </li>
                             <li class="list-inline-item">
                                 <i class="fab fa-twitter fa-2x" style="background-color: lightskyblue;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
                             <li class="list-inline-item">
                                <i class="fab fa-google fa-2x" style="background-color: red;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
                             <li class="list-inline-item">
                                 <i class="fab fa-linkedin-in fa-2x" style="background-color:navy;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-2 wow fadeInUp">
        <div class="row">
          <div class="col-md-6 my-2">
            <img src="{%static 'images/3.jpg'%}" alt="">
          </div>
          <div class="col-md-6 my-4">
            <h4 class="mb-0">
                Philip Demarco
            </h4>
            <p class="text-muted mb-0">
                Designer
            </p>
            <p class="my-4">
              Philip holds degrees in law and economic law from the Université libre de Bruxelles and is fluent in French, Spanish, and English. 
            </p><ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fab fa-facebook-f fa-2x" style="background-color:royalblue;border-radius: 50%;color:white;padding:10px"></i>
                       </li>
                             <li class="list-inline-item">
                                 <i class="fab fa-twitter fa-2x" style="background-color: lightskyblue;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
                             <li class="list-inline-item">
                                <i class="fab fa-google fa-2x" style="background-color: red;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
                             <li class="list-inline-item">
                                 <i class="fab fa-linkedin-in fa-2x" style="background-color:navy;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
            </ul>
                          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-2 ">
        <div class="row">
          <div class="col-md-6 my-2">
            <img src="{%static 'images/41.jpg'%}" alt="">
          </div>
          <div class="col-md-6 my-4">
            <h4 class="mb-0">
                Peter Spenser
            </h4>
            <p class="text-muted mb-0">
                Creative Developer
            </p>
            <p class="my-4">
              Peter graduated from University College, London and began his career at KPMG in London, where he qualified as a Chartered Accountant.
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fab fa-facebook-f fa-2x" style="background-color:royalblue;border-radius: 50%;color:white;padding:10px"></i>
                       </li>
                             <li class="list-inline-item">
                                 <i class="fab fa-twitter fa-2x" style="background-color: lightskyblue;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
                             <li class="list-inline-item">
                                <i class="fab fa-google fa-2x" style="background-color: red;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
                             <li class="list-inline-item">
                                 <i class="fab fa-linkedin-in fa-2x" style="background-color:navy;border-radius: 50%;color:white;padding:10px"></i>
                             </li>
            </ul>
          </div>
          
        </div>
      </div>
      </div> <!-- END row-->
  </div> <!-- END container-->
</section>
   
   <section class="padding-y-100 bg-light">
    <div class="container">
        <div class="row">			
        <div class="col-12 text-center mt-5">
            <h2 class="h1">
                Why We are the <span class="text-success">Best</span>
                <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
            </h2>
        </div>
            <div class="col-lg-6 mt-4 pr-lg-5">
                <p class="mb-4">
                  Python is a good choice for rapid development of web applications. With many frameworks
                  like Django, Pyramid, and Flask, Python allows you to build web apps with great speed. 
                  hon is used on the server-side of web development, you can use Python to interact with the
                   database and build Rest API services.        </p>
                <p class="list-unstyled list-style-icon list-icon-check-circle">
                    <li>
                        Listen to Social Conversations
                    </li>
                    <li>
                        Performance Analyze
                    </li>
                    <li>
                        A Productivity Platform
                    </li>
                    <li>
                        Work With Any Team
                    </li>
                </p>
            </div> <!-- END col-lg-6-->
            <div class="col-md-6 mt-4">
              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>HTML &amp; CSS</p>
                  <p>90%</p>
                 </div>
<div class="progress" style="height:4px"> <div class="progress-bar bg-primary" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>React angular</p>
                  <p>75%</p>
                 </div>
                <div class="progress" style="height:4px">
<div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>PHP</p>
                  <p>80%</p>
                 </div>
                <div class="progress mb-4" style="height:4px">
<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>Laravel</p>
                  <p>75%</p>
                 </div>
                <div class="progress mb-4" style="height:4px">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>    
            </div>
        </div> <!-- END row-->
    </div> <!-- END container-->
</section>
   
   
   <section class="padding-y-100 bg-primary wow fadeIn">
  <div class="container">
    <div class="row">
    
     <div class="col-12 text-center mt-3 mb-3 p-4">
       <h2 class="text-white">
        What Our People Say
       </h2>
     </div>
     
     <div class="col-md-10 mx-auto">
        <div class=" carousel slide" data-ride="carousel" id="myslider">
          <div class="card card-body p-lg-5 text-center">
             <img class=" mx-auto z-index-10" src="{%static 'images/sc4.jpg'%}" alt="" style="border-radius: 50%;">
            <div class="my-4">
                     <h6>
              Kenelia Deshmukh
            </h6>
            <p class="text-gray mb-0">
              Creative Director
            </p>
            </div>
            <p class="mb-0 lead text-dark">
              I particularly found the web scraping tutorial to be great; I felt like I was
              doing some actual programming instead of toying around with it and just printing,   
            </p>
          </div>
         
          <div class="card card-body p-lg-5 text-center">
              <img class=" mx-auto z-index-10" src="{%static 'images/sc7.jpg'%}" alt="" style="border-radius: 50%;">
             <div class="my-4">
             <h6>
              Kenelia Deshmukh
            </h6>
            <p class="text-gray mb-0">
              Creative Director
            </p>
            </div>
            <p class="mb-0 lead text-dark">
              This is a title of review. the developer suffer from lot's of vitamin. what about you? 
              </p>
          </div>
         
          <div class="card card-body p-lg-5 text-center">
               <img class=" mx-auto z-index-20" src="{%static 'images/sc5.jpg'%}" alt="" style="border-radius: 50%;">
             <div class="my-4">
             <h6>
              Ema Watson
            </h6>
            <p class="text-gray mb-0">
              Creative Director
            </p>
            </div>
            <p class="mb-0 lead text-dark">
              Excellent Website. It helps a lot to students as well as Professors. Admin should put questions of SAT too.
                </p>
          </div>
          
        </div>
      </div> <!-- END col-12 -->
    </div>  <!-- END row--> 
  </div> <!-- END container-->
</section>

</head>
<body>

{%endblock%}