{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock %}

{% block header %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto my-3 p-3 shadow text-center">
            <div>
             <img src="{% static 'images/payment-failed1.gif' %}" height="300" width="400">
            </div>
            <!-- <h2 class="alert alert-danger my-1">Payment Failed</h2> -->
            <div class="my-3 ">
             <a href="{% url 'cart' %}" class="btn btn-danger btn-block">Go to Cart</a>
            </div>
    </div>
</div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto my-3 p-3 shadow shadow-lg text-center">
           <img src="{% static 'images/failed.gif' %}" height="300" width="300">
           <h1 class="alert alert-danger">Payment Failed</h1>
           <div class="my-3">
            <a href="{% url 'cart' %}" class="btn btn-success">Continue</a>
            <a href="{% url 'insprofile' %}" class="btn btn-warning">Go to Dashboard</a>
           </div>

        </div>
    </div> -->

{% endblock %}
