{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock %}

{% block header %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto my-3 p-3 shadow text-center">
           <div>
            <img src="{% static 'images/03.gif' %}" height="300" width="400">
           </div>
           <h2 class="alert alert-primary my-1">Payment Successful</h2>
           <div class="my-3 ">
            <a href="{% url 'cart' %}" class="btn btn-success">Continue Shopping</a>
            <a href="{% url 'insprofile' %}" class="btn btn-info">Go to Dashboard</a>
           </div>

        </div>
    </div>
</div>
{% endblock %}
