{% extends "dashboard_base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'images/handpen.jpg' %}"); background-size: cover;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }
    input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="tel"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}

input[type="email"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
.btn-success{
background-color: #02cc26!important;
border-color: #02cc26!important;
}
.btn-danger{
background-color:#fd3635!important ;
border-color: #fd3635!important;
}
.btn{
padding:0.625rem 1.25rem;
transition:.3s;
font-weight: 500;
font-family: "Maven Pro", sans-serif;
line-height: 1.5;
border-radius: .25rem;
font-size: 1rem;
display: inline-block;
}
.m-2{
margin: .5rem!important;
}
.my-5{
margin-top: 3rem;
margin-bottom: 3rem;
}
.mt-4, .my-4{
margin-top: 1.5rem!important;
}
.align-items-end{
-webkit-box-align:end!important;
align-items: flex-end!important;
}
.position-relative{
position: relative;
}

.as-parent{
width: 100%;
height:100%;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
transition: all .3s;
font-family: "Work Sans", sans-serif;
/* width: 70%; */
}
p{
line-height: 1.76;
margin-top: 0;
margin-bottom: 1rem;
}
a{
/* color: inherit; */
text-decoration: none;
background-color: transparent;
}
.btn-outline-primary{
background-color: transparent;
border-color:#00CB54 ;
color: #00CB54;
}
.btn-outline-primary:hover{
background-color: #00CB54;
}
.position-absolute{
position: absolute;
}
.opacity-0{
opacity: 0;
}
.vt{
display: inline-block;
}
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid bg mt-1">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-4" style="padding: 30px;">
             <h1>My Profile</h1>
             <!-- <p>Home &gt;&gt; Pages &gt;&gt;  My Profile</p> -->
            </div>
            </div>
         </div>

         <div class="container-fluid bg1 my-5">
            <div class="row">
              <div class="col-md-4 my-5">
                  <div class="card-header" style="color:black;background: white;">
                      <!-- <img src="{% static 'images/6.jpg' %}" class="card-img" alt="" style="border-radius:50%;">
                   -->
                   <div class="text-center"> 
                    {% if data.profile_pic%}
                    <img src="/media/{{data.profile_pic}}"alt="not found" style="height: 250px; width: 250px; border-radius: 50%;"> <br/>
                    {% else %}
                    <img src="{% static 'images/user.png'%}"alt="not found" style="height: 250px; width: 250px; border-radius: 50%;"> <br/>

                    {% endif %}
                   </div>
                  <!-- </div> -->
                  <h3 class="card-title text-center">{{user.username}}</h3>
  <p class="card-text text-center" >{{data.occupation}} </p>
    <ul class="list-inline" style=" margin-top: 40px; word-spacing: 50px;">
      <li class="list-inline-item"><i style="color: green;margin-left: 70px;" class="far fa-user"></i>
        <h4 style="margin-left: 40px;">Students</h4>
        <p style="margin-left: 60px;">147560</p></li>
         <li class="list-inline-item"><i style="color: green;margin-left: 30px;" class="fas fa-book-open"></i>
          <h4 class="mr-2">Courses</h4>
          <p style="margin-left: 30px;">27</p></li>
                </ul>
               </div>
                  <div class="card-body" style="background:white">
                      <p>Email Address:</p>
                      <h4>{{user.email}}</h4>
                      <p>Phone:</p>
                      <h4>{{data.contact_number}}</h4>
                      <p>Location:</p>
                      <h4>{{data.city}}</h4>
                  </div>
                  <div class="card-footer" style="background: white;">
                  <p style="font-size:20px;">Social Profile</p>
                  <div style="word-spacing: 10px;">
                    <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f "></i>
                    <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%; " class="fab fa-twitter"></i>
                    <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                    <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
                  </div>
                  </div>
              </div> 
            
                <div class="col-md-6">
                  <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if status%}
                    <div class="alert alert-primary">{{status}}</div>
                    {% endif %}
                           <div class="form-group" row="">
                              <label class="col-md-3  text-dark mt-5">Profile Picture</label>
                            <div class="col-md-9">
                              <input type="file" name="image" class="form-control" >
                               </div>
                              </div>
                           <h4 class="mt-5">
                            Manage your Account
                          </h4>
                          
                          <div class="form-group" row="">
                            <label class="col-md-3  text-dark">First Name</label>
                            <div class="col-md-9">
                              <input type="text" name="fname" class="form-control" value="{{user.first_name}}" placeholder="Enter Your Name">
                            </div>
                          </div>
                          <div class="form-group" row="">
                            <label class="col-md-3  text-dark">Last Name</label>
                            <div class="col-md-9">
                              <input type="text" name="lname" class="form-control" value="{{user.last_name}}" placeholder="Enter Your Name">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-md-3  text-dark">Occupation</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" value="{{data.occupation}}"  name="occ" placeholder="Enter Occupation">
                            </div>
                          </div> 
                          <div class="form-group">
                            <label class="col-md-3  text-dark">Age(in years)</label>
                            <div class="col-md-9">
                              <input type="Number"  value="{{data.age}}" name="age" class="form-control" value="" placeholder="enter your age" min="15" max="99">
                            </div>
                          </div> 
                          <div class="form-group">
                            <label class="col-md-3 col-form-label text-dark">Contact</label>
                            <div class="col-md-9">
                              <input type="text" name="contact"  value="{{data.contact_number}}" class="form-control"  placeholder="Enter Your contact no." pattern="[0-9]{10}" title="Number must contain 10 digits only">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 col-form-label text-dark">Email</label>
                            <div class="col-md-9">
                              <input type="email" class="form-control"  name="email" value="{{user.email}}" placeholder="Enter Your Email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 col-form-label text-dark">City</label>
                            <div class="col-md-9">
                              <input type="tel"  value="{{data.city}}" class="form-control" name="city" value="" placeholder=" Enter Your city">
                            </div>
                          </div>  
                          <div class="form-group">
                            <label class="col-md-3 col-form-label text-dark">Gender</label>
                            <div class="col-md-9">
                            <select name="gender" id="" class="form-control" >
                              <option value="Male">Male</option>
                              
                              {% if data.gender == "Female" %}
                              <option value="Female" selected>Female</option>
                              {% else %}
                              <option value="Female">Female</option>
                              {% endif %}
                              
                              {% if data.gender == "Others" %}
                              <option value="Others" selected>Others</option>
                              {% else %}
                              <option value="Others" >Others</option>
                              {% endif %}
                            </select>                             
                            </div>
                          </div>  
                          
                          <hr>
                        
                      <h4>
                        Social Account
                      </h4>
                     <div class="form-group">
                       <label class="col-md-3 col-form-label text-dark">Facebook</label>
                       <div class="col-md-9">
                         <input type="text" class="form-control" value="" placeholder="https://facebook.com">
                       </div>
                     </div>
                     
                     <div class="form-group">
                       <label class="col-md-3 col-form-label text-dark">Twitter</label>
                       <div class="col-md-9">
                         <input type="text" class="form-control" value="" placeholder="https://Twitter.com">
                       </div>
                     </div>
                     <div class="form-group">
                        
                       <label class="col-md-3 col-form-label text-dark">Linkdin</label>
                       <div class="col-md-9">
                         <input type="text" class="form-control" value="" placeholder="https://Linkdin.com">
                       </div>
                     </div>
                     
                     <div class="form-group">
                       <label class="col-md-3 col-form-label text-dark">Google</label>
                       <div class="col-md-9">
                         <input type="text" class="form-control" value="" placeholder="https://Google.com">
                       </div>
                     </div>
                     
                     <hr> 
                    
                      <h4>
                        About You
                      </h4>
                      <textarea rows="6"  name="about" class="form-control"  placeholder="Add discription">{{data.about}}</textarea>
                           
                    <!-- <h4 class="mb-2 pb-2"><hr>
                        Account Type
                      </h4>
                      <p>
                        <span class="badge badge-danger">Free</span>
                      </p><hr> -->
                      <div class="my-5">
                        <button class="btn btn-success m-2">Update Profile</button>
                        <button class="btn btn-danger m-2">Cancel</button>
                     </div>
                    </form>
                     </div>  
                    </div>
              </div>
{% endblock %}