{%extends "base.html"%}
{%load static%}
{%block style%}
 <style>
    label{
        color: white;
    }
    .pic{
        background: url(/static/images/ftr.jpg);
    }
</style> 
{%endblock%}
{%block header%}
<div class="container my-3">
    <div class="row" style="margin: 30px;">
        <div class="col-md-6 px-0">
                <img src="{%static 'images/plgn.jpg'%}"height="97.4%"width="100%";>
                </div>

           <div class="col-md-6 px-0 ">
                    <div class="form-group pic">
                        <h1 style="text-align: center;color:white;">Login Here</h1>
                        <div class="modal-header">
                            
                            <span class="close text-danger" data-dismiss="modal"></span></div>
                            <button class="btn btn-primary mt-3"><i class="fab fa-facebook-square "></i>Facebook SignIn</button>
                            <button class="btn btn-danger mt-3 "><i class="fab fa-google-plus-square"></i>Google SignIn</button>
                            <p class="text-center text-white my-4 " style="font-family:sans-serif;color:#606065;">
                                OR
                            </p>
                            <div class="modal-body">
                                <form  action=""  method="post" id="log">
                                    {%csrf_token%}
                                    <div class="form-group "style="color: #606065;">
                                        <label for="">Username</label>
                                       <div class="input-group"> 
                                       
                                        <input type="text" name="username" placeholder="Enter Username" class="form-control">      
                                        </div>
                                    </div>
                                    <div class="form-group "style="color: #606065;">
                                     <label for="">Password</label>
                                        <input type="password" name="password" placeholder="Enter Password" class="form-control" >
                                    </div>
                                    <div class="checkbox "style="color: #606065";>
                                        <label for=""><input type="checkbox" name="rememberme">Remember Me</label>
                                            <a href="{% url 'forgotpass' %}" class="text-primary mx-4" style="font-family: sans-serif; color: #00CB54!important;">Forgot Password?</a>
                                    </div>
                                    <div class="form-group">
                                        <label for=""></label>
                                        <input type="submit" value="Sign In" class="btn btn-success btn-block" >
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer"><em>
                                <span style="color:white">You Accepted Our</span> <span style="color: green;font-family:Elephant;"> Term And Conditions</span> <span style="color: white;">And</span> <span style="color: green;font-family:Elephant;">Privacy Policy</span></em></div>
                        </div>
                 <!-- </div>
             </div>
                </div> -->
            </div>
        </div>
      
        </div>
    </div>
    {% if status %}
    <script>
      alert("{{status}}");
      Window.location = "/"
    </script>
    {% endif %}
{%endblock%}