{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .h{
        text-align: center;
    }
    .b1{
        
        margin-top: 10px;
        
    }
    .p1{
        text-align: center;
        margin-top: 20px;

    }
    .a{
        display: inline-block;
        
    }

    input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px green;
border:1px solid greenyellow;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px green;
border:1px solid greenyellow;
}

</style>
 
{% endblock %}
{% block header %}
<div class="container bg-light">
    <div class="row mb-5">
        <div class="col-md-6">
   <!-- <div style="background: url('/static/images/regis.jpg');width: 100%;"></div> -->
              <img src="{% static 'images/regis.jpg' %}" alt="" height="100%" width="100%"> 
        </div>
        <div class="col-md-6 bg-light">
            <div class="form-group">
                <h2 class="h">Sign Up Here And Start Learning!</h2>
                <hr>
                <button class="btn btn-primary b1"><i class="fab fa-facebook-square mr-1"></i>Sign In With Facebook</button>
                <button class="btn btn-danger b1 ml-2" ><i class="fab fa-google-plus-square mr-1"></i>Sign In With Google</button>
                <p class="p1"><strong>OR</strong></p>
            </div>
           <div class="modal-body">
               <form action="" method="post" onsubmit="return checkPassword(this)">
                    {% csrf_token %}
                   <div class="form-group a ">
                    <label for="">First Name</label>
                   <div class="input-group">
                      
                       <input type="text"  name="first" class="form-control" placeholder="Enter Your First Name">

                   </div>
                </div>
                <div class="form-group a " style="float: right;">
                    <label for="">Last Name</label>
                   <div class="input-group">
                      
                       <input type="text" name="last" class="form-control" placeholder="Enter Your Last Name">

                   </div>
                </div>
         <divclass="form-group">
             <p id="result"></p>
         </div>
                <div class="form-group">
                    <label for="">Enter  Username</label>
                   <div class="input-group">
                      
                       <input type="text" name="uname" id="username" onkeyup="cheackuser()" class="form-control" placeholder="Enter  Username">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Enter Your E-mail</label>
                   <div class="input-group">
                      
                       <input type="text" name="email"  class="form-control" placeholder="Enter Your E-mail ">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Contact No.</label>
                   <div class="input-group">
                      
                       <input type="text"  name="contact" class="form-control" placeholder="Enter  Mobile No.">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    
                      <div class="input-group">
                       <input type="password" name=password1 class="form-control"  placeholder="Enter  Password" id="ram">
                       <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button>

                   </div>
                </div>
                </div>
            
                <div class="form-group">
                    <label for="">Confirm Password</label>
                   
                    <div class="input-group">
                        <input type="password" name=password2 placeholder=" Confirm Password " class="form-control" id="ram"> <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button></div>
                    </div> 
                       
                </div>
                <div class="form-group mt-3">
                    <label for="">Gender</label></br>
                    <input type="radio" name="gender"> Male
                    <input type="radio" name="gender"> Female
                    
                </div>

                <div class="form-group">
                    <label for="">User Type</label></br>
                    <select  name="utype" class="form-control">
                        <option value="stu">I am Student</option>
                        <option value="inst">I am Instructor</option>
                    </select>                
                </div>
                <button class="btn btn-success btn-block" id="submitbtn">Create Account</button>
               </form>

           </div>

        </div>
      <script>
        function cheackuser(){
            let un = document.getElementById("username").value;
            // alert(un);
            $.ajax({
                url:"{% url 'check_user'%}",
                type:"get",
                data:{usern:un},
                success:function(data){
                    // alert(data);
                    // $("#result").html(data);
                    if(data=="Exists"){
                        $("#result").html("This username already exist").addClass("text-danger");
                        $("#submitbtn").attr("disabled","disabled")
                    }
                    else{
                        $("#result").html("");
                        $("#submitbtn").removeAttr("disabled")
                    }

                }
            })
        }
      </script>

    </div>
    {% if status %}
    <script>
    //   alert("{{status}}");
      Window.location()= "/user_login"
    </script>
    {% endif %}
</div>
<script>
    function abcd(){
        v=document.getElementById("ram").type
        if(v=="password"){
        document.getElementById("ram").type="text"
        }
        else{
            document.getElementById("ram").type="password"
        }
    }
    
</script>
<script>
     function checkPassword(form) { 
            password1 = form.password1.value; 
            password2 = form.password2.value; 

             
            if (password1 == '') 
                alert ("Please enter Password"); 
                  
            
            else if (password2 == '') 
                alert ("Please enter confirm password"); 
                  
       
            else if (password1 != password2) { 
                alert ("\nPassword did not match: Please try again...") 
                return false; 
            } 

            
            else{ 
                alert("Password Match: Welcome to Our Site!") 
                return true; 
            } 
        } 

</script>
{% endblock %}