{% extends "dashboard_base.html" %}
{% load static %}
{% block style %}
<style>
.main{
          font-style: italic;text-align: center;font-weight: bold;font-size:xx-large;
    }
/* body{
    background: linear-gradient(green 30%,gray 50%);
} */
label{
    width: 90%;height:25px;padding:5px ;margin-left: 0px;
}
.i{
    width: 90%;height:25px;padding:20px ;margin-left: 0px;  
}
h2{
    color: black;text-align: center;margin-top: 0%;
}
.f{
    width: 400px;margin: auto;background: white; padding: 20px; margin-bottom: 150px;height: 480px;font-family: arial;
    font-size: 13px; font-weight: bold;
}
::placeholder{
    color: black;opacity: 0.5;
}
.bg{
        background-image: url("/static/images/handpen.jpg"); background-size: cover;
    }
 </style>
{% endblock %}
{% block dashboard %}

<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-12" style="padding: 30px;">
             <h1>Change Password</h1>
             <!-- <p>Home &gt;&gt; User &gt;&gt; Order History</p> -->
            </div>
            </div>
         </div>

<div class="container">
 <div class="main mt-5"><h1 style="color:cornflowerblue;">Security Settings</h1></div>
      
    <form action="" method="post" class="shadow shadow-lg f">
        {% csrf_token %}
        <h2>Get Your Password</h2><hr>
       
        {% if msz%}
        <div class="alert {{col}}">{{msz}}</div>
           {% endif %}

        <div class="form-group">
            <label>Current Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-eye" style="font-size: 15px;"></i>
                    </span>
                </div>
            <input type="password" placeholder="Current Password"
              name="cpwd" class="form-control i " required>
            </div>
        </div>

        <div class="form-group">
            <label> New Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-eye" style="font-size: 15px;"></i>
                    </span>
                </div>
            <input type="password" placeholder="New Password"
             name="npwd" id="pas" class="form-control i" onkeyup="check_pass()" required>
            </div>
        </div>

        <div class="form-group">
            <label>Confirm New Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-key" style="font-size: 15px;"></i>
                    </span>
                </div>
            <input type="password" placeholder="confirm  new Password"
             id="cpas" class="form-control i " onkeyup="check_pass()" required>
            </div>
        </div>
   <button class="btn btn-success" id="sbbtn">Change Password</button>
    </form>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        // alert(p)
        // alert(cp)
        if(p==cp){
            $("#pas").css("border","1px solid green")
            $("#cpas").css("border","1px solid green")
            // $("#pas").removeClass("alert alert_danger").addClass("alert alert_success")
            // $("#cpas").removeClass("alert alert_danger").addClass("alert alert_success")
            $("#sbbtn").removeAttr("disabled")
       
        }
        else{
            $("#pas").css("border","1px solid red")
            $("#cpas").css("border","1px solid red")
            // $("#pas").removeClass("alert alert_success").addClass("alert alert_danger")
            // $("#cpas").removeClass("alert alert_success").addClass("alert alert_danger")
            $("#sbbtn").attr("disabled","disabled")
        }
    }
</script>

{% endblock %}