{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock %}

{% block header %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 shadow shadow-lg text-center">
            <h2 class="text-primary mb-5">Click Here to Continue</h2>
            {{form.render}}

        </div>
    </div>

{% endblock %}
