{% extends "dashboard_base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background-image: url("/static/images/handpen.jpg");
        background-repeat: no-repeat; background-size: cover;
    }

    
</style>
{% endblock %}
{% block dashboard %}

<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6" style="padding: 30px;">
             <h1>Send Email</h1>
             <!-- <p class="o">Home &gt;&gt; User &gt;&gt; Send Email</p> -->
            </div>
            </div>
         </div>

<div class="container-fluid   py-4">
    <div class="row" >
       <div class="col-md-6 p-3 mx-auto shadow shadow-lg ">
           {% if status %}
             <div class=" alert{{cls}}">{{status}}</div>
            {% endif %}
           <form action="" method="post" >
            {% csrf_token %}
             <div class="form-group">
                 <label for="">To</label>
                 <input type="text" class="form-control" placeholder="To" name="to">
             </div>

             <div class="form-group">
                <label for="">Subject</label>
                <input type="text" class="form-control" placeholder="Subject" name="sub">
            </div>
               
            <div class="form-group">
                <label for="">Subject</label>
                <textarea name="msz" rows="5" placeholder="Enter Your Message" class="form-control"></textarea>   
            </div>

            <!-- <div class="form-group"> -->
                <div>
                    <input type="submit" value="Click to continue" class="btn btn-outline-primary">
                   </div>
                <!-- <input type="submit" value="send email" class="btn-btn-outline-primary"> -->
            <!-- </div> -->

        </form>
        </div>
    </div>
</div>

{% endblock %}
