{% extends "dashboard_base.html" %}
{% block style %}
<style>
    .bg{
         background: url(/static/images/handpen.jpg); background-size: cover;
    }
</style>
{% endblock%}
{% block dashboard%}

<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6" style="padding: 30px;">
             <h1>View Profile</h1>
             <!-- <p>Home &gt;&gt; User &gt;&gt; Student Profile</p> -->
            </div>
            </div>
         </div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto py-2">
            <div class="card">
                <div class="card-header">
                    <h1>My Detail</h1>
                </div>
                <div class=card-body>
                    <table class="table table-borderd">
                       <tbody>
                           <tr>
                               <th>User ID</th>
                               <td>{{user.id}}</td>
                           </tr>
                           <tr>
                            <th>User Name</th>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <th>Full Name</th>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                        </tr>
                        <tr>
                            <th>Last Login</th>
                            <td>{{user.last_login}}</td>
                        </tr>
                        <tr>
                            <th>Join Date</th>
                            <td>{{user.date_joined}}</td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock%}
